.progress-bar {
  background-color: transparent;
  border-radius: 9999px;
  height: 6px;
}

.progress-bar__inner {
  background: linear-gradient(to right, $sunrise , $red);
  height: 100%;
  border-radius: inherit;

  &.fade {
    animation: fade-out 3s ease-out 1s;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
